<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="center">Company Information</h3>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="client-name">
                        <%= @client.name %>
                    </div>
                        <strong>User:</strong>
                        <% if @client.user_id? %>
                          <%= @clientOwner.username %>
                        <% else %>
                          <strong>No user associated</strong>
                        <% end %>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul>
                                <li><strong>Topic: </strong><%= @client.category %></li>
                                <li><strong>Website: </strong><%= @client.address %></li>
                                <br><hr>
                                <li><strong>Updated: </strong><%= @client.updated_at.strftime('%H:%M:%S %B, %d, %Y') %></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul>
                                <li><strong>Revenue: $</strong><%= @client.revenue %>M</li>
                                <li><strong>Main #: </strong><%= @client.main_phone %></li>
                                <li><strong>Email Domain: </strong><%= @client.email_domain %></li>
                                <hr>
                                <% if @client.notes.any? %>
                                    <li><strong>Last call: </strong><%= @client.notes.last.created_at.strftime('%H:%M:%S %B, %d, %Y') %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <% if current_user.try(:admin?) or current_user.try(:beta?) %>
                      <%= link_to("Edit", edit_client_path(@client), class: "btn btn-xs btn-primary") %>
                      <%= link_to("Delete", client_path(@client), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
                    <% end %>
                </div>
            </div>
            <div class="notes">
                <div class="center">
                    <li class='btn btn-success btn-md'><%= link_to("Add Note", new_note_path(:client_id => @client.id)) %></li>
                </div>
                <% if @client.notes.any? %>
                    <%= render 'clientnotes' %>
                <% end %>
            </div>
        </div>
        <div class="col-xs-6">
            <% if @client.contacts.any? %>
                <%= render 'clientcontacts' %>
                <li class='btn btn-success btn-md'><%= link_to("Add Contact", new_contact_path(:client_id => @client.id)) %></li>
            <% else %>
                <div class="center"><li class='btn btn-success btn-md'><%= link_to("Add Contact", new_contact_path(:client_id => @client.id)) %></li></div>
            <% end %>
        </div>
    </div>
</div>