<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">View Companies by Topic</div>
        <div class="panel-body">
            <div class="row">
                <div class="center">
                    
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Topics <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to("Agriculture/Environment", clients_path(category: "Agriculture/Environment"))  %></li>
                        <li><%= link_to("Architecture", clients_path(category: "Architecture"))  %></li>
                        <li><%= link_to("Arts & Culture", clients_path(category: "Arts & Culture"))  %></li>
                        <li><%= link_to("Business", clients_path(category: "Business"))  %></li>
                        <li><%= link_to("Culinary", clients_path(category: "Culinary"))  %></li>
                        <li><%= link_to("Education", clients_path(category: "Education"))  %></li>
                        <li><%= link_to("Health/Medical", clients_path(category: "Health/Medical"))  %></li>
                        <li><%= link_to("Outdoor", clients_path(category: "Outdoor"))  %></li>
                        <li><%= link_to("Travel", clients_path(category: "Travel"))  %></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>