<div class="center search">
  <p id="notice"><%= notice %></p>
  <% if current_user.email == "james@frontpageprofile.com" %>
    <h2>Hello JJ, we always knew you'd come crawling back</h2>
  <% end %>
  <% if current_user.try(:beta?) %>
    <button type="button" class='btn btn-standard btn-lg'><%= link_to("My Leads", clients_path(user_id: current_user.id))  %></button>
  <% end %>


<div class="row">
  <div class="col-xs-3">
    <%= render 'topicdropdown' %>
  </div>
  <div class="col-xs-9">
    <%= render 'searches' %>
  </div>
</div> 
<h2 align="center">Do Not Call Listed Companies</h2>
<div class="container-fluid">
  <% @clients.each do |t| %>
    <% if t.blank? %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2 align="center">No record found for: <%= @term %></h2>
        </div>
      </div>
    <% else %>  
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well content-holder">
            <div class="client-name">
              <%= link_to(t.name, client_path(t)) %>
              <% if t.user_id? %>
                <div class="client-user">
                  <%= User.find(t.user_id).username %>
                </div>
              <% else %>
              <% end %>
            </div>
            <div class="client-address">
              <%= t.address %>
            </div>
            <div class="client-status">
              <%= t.category %>
            </div>
            <div class="client-actions">
              <% if current_user.try(:admin?) or current_user.try(:beta?) %>
                <%= link_to("Edit", edit_client_path(t), class: "btn btn-xs btn-primary") %>
                <%= link_to("Delete", client_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  <% end %>
</div>



