<h2 align="center">Listed Companies</h2>
<div class="container-fluid">
  <% @clients.each do |t| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="client-name">
            <%= link_to(t.name, client_path(t)) %>
          </div>
          <div class="client-address">
            <%= t.address %>
          </div>
          <div class="client-status">
            <%= t.status %>
          </div>
          <div class="client-actions">
            <% if current_user.try(:admin?) %>
              <%= link_to("Edit", edit_client_path(t), class: "btn btn-xs btn-primary") %>
              <%= link_to("Delete", client_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>



<div class="center">
  <p id="notice"><%= notice %></p>

  <h1>Listing Clients</h1>

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.status %></td>
          <td><%= client.name %></td>
          <td><%= client.address %></td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Client', new_client_path %>
  <br>
  <%= link_to 'Check List', search_clients_path %>
</div>