<div class="center search">
  <p id="notice"><%= notice %></p>
  <!-- <button type="button" class='btn btn-standard btn-lg'><%= link_to("My Leads", clients_path(user_id: current_user.id))  %></button>
Inactive button for "My Leads" -->
  <h1>Check the Do Not Call List</h1>
  <div class="container-fluid">
    <h4>Type in the website address without the www.</h4>
    <%= form_tag(clients_path, :method => "get", id: "search-form", :html => {class: "form"}) do %>
    <div class="form-group">
      <%= text_field_tag :w, params[:w], placeholder: "Type in the website address without the www.", class: "form-control", autofocus: true %>
    </div>
    <%= submit_tag "Search", class: 'btn btn-primary btn-lg' %>
    <button type="button" class='btn btn-standard btn-lg'><%= link_to("Business", clients_path(category: "Business"))  %></button>
    <% end %>
  </div>
</div>
<h2 align="center">Listed Companies</h2>
<div class="container-fluid">
  <% @clients.each do |t| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="client-name">
            <%= link_to(t.name, client_path(t)) %>
            <% if t.user_id? %>
              <div class="client-user">
                <%= User.find(t.user_id).username %>
              </div>
            <% else %>
            <% end %>
          </div>
          <div class="client-address">
            <%= t.address %>
          </div>
          <div class="client-status">
            <%= t.category %>
          </div>
          <div class="client-actions">
            <% if current_user.try(:admin?) %>
              <%= link_to("Edit", edit_client_path(t), class: "btn btn-xs btn-primary") %>
              <%= link_to("Delete", client_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>



