<div class="center search">
  <p id="notice"><%= notice %></p>
  <% if current_user.email == "james@frontpageprofile.com" %>
    <h2>Hello JJ, we always knew you'd come crawling back</h2>
  <% end %>
  


<div class="row">
  <div class="col-xs-12 col-md-3">
    <%= render 'topicdropdown' %>
  </div>
  <div class="col-xs-12 col-md-9">
    <%= render 'searches' %>
  </div>
</div> 
<h2 align="center">Do Not Call Listed Companies</h2>
<div class-"container-fluid">
    <% @clients.each do |t| %>
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading status-<%= t.status %>" style="font-size: 140%;">
                    <strong><%= link_to(t.name, client_path(t)) %></strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="center-block"><strong>Category: <%= t.category %></strong></li>
                                <li class="center-block"><strong>Website: <%= link_to(t.address, "http://#{t.address}", :target => "_blank") %></strong></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="center-block"><strong>Status: <%= t.status %></strong></li>
                                <% if t.user_id? %>
                                    <li class="center-block"><strong>User: <%= t.user.username %></strong></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="client-actions">
                      <% if current_user.try(:admin?) or current_user.try(:beta?) %>
                        <%= link_to("Edit", edit_client_path(t), class: "btn btn-xs btn-primary") %>
                        <%= link_to("Delete", client_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>



