<div class-"container-fluid">
    <% @clients.each do |t| %>
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= link_to(t.name, client_path(t)) %>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="center-block">Status: <%= t.status %></li>
                                <li class="center-block">Website: <%= t.address %></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="center-block">Category: <%= t.category %></li>
                                <% if t.user_id? %>
                                    <li class="center-block">User: <%= User.find(t.user_id).username %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="client-actions">
                      <% if current_user.try(:admin?) or current_user.try(:beta?) %>
                        <%= link_to("Edit", edit_client_path(t), class: "btn btn-xs btn-primary") %>
                        <%= link_to("Delete", client_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger") %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>