

<div class="center search">
  <p id="notice"><%= notice %></p>
  <h1>Check the Do Not Call List</h1>
  <div class="container">
    <%= form_tag(search_clients_path, :method => "get", id: "search-form", :html => {class: "form"}) do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], placeholder: "Web Address w/o www.", class: "form-control", autofocus: true %>
    </div>
    <%= submit_tag "Search", class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>

  <% if @response.blank? %>
  <h2></h2>
  <% elsif @response == 8 %>
  <h2>Go ahead and give them a ring</h2>
  <% else %>
  <h2><%= @results.address %> is on the Do Not Call List</h2>
  <% end %>
</div>