<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @client.user_id? %>
    <%= @clientOwner.username %>
  <% else %>
    <strong>No user associated</strong>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Accoutn Status:</strong>
  <%= @client.status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Uploaded:</strong>
  <%= @client.created_at %>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @client.updated_at %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
