<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @client.user_id? %>
    <%= @clientOwner.username %>
  <% else %>
    <strong>No user associated</strong>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Account Status:</strong>
  <%= @client.status %>
</p>

<p>
  <strong>Web Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Uploaded:</strong>
  <%= @client.created_at %>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @client.updated_at %>
</p>

<p>
  <strong>Add Note</strong>
  <li class='btn btn-success btn-lg'><%= link_to("Add Note", new_note_path(:client_id => @client.id)) %></li>
</p>

<% if @client.notes.any? %>
  <li class='btn btn-success btn-lg'><%= link_to("See Notes", notes_path(:client_id => @client.id)) %></li>
<% end %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
